.dogs-select {
  width: 100%;
}

.dogs-selections {
  padding: 0 .75rem;
  text-align: center;
}

.button-new-search-container {
  display: flex;
  justify-content: start;
  padding: .5rem;
}

h1.search-results {
  font-family: 'Fredoka', serif;
  color: var(--color-blue-dark);
}

h2.instructions {
  color: var(--color-gold-dark)
}

h3.favorites-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  .favorites-count {
    color: var(--color-green-dark);
  }
}

.floating-action-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: var(--dimension-floating-action-button);
  height: var(--dimension-floating-action-button);
  inset-block: auto var(--dimension-viewport-margin);
  inset-inline: auto var(--dimension-viewport-margin);
  border: 5px solid transparent;
  border-radius: 50%;
  font-size: 1.75rem;
  font-weight: 700;
  background-color: var(--color-gray);
  color: var(--color-gray-medium);

  &:not(.disabled) {
    outline: 5px solid var(--color-green-light);
    border-color: var(--color-blue-light);
    background-color: var(--color-blue-dark);
    color: var(--color-application-light);
  }
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}
