.dogs-select {
  width: 100%;
}

.dogs-selections {
  text-align: center;
}

.new-search {
  display: flex;
  justify-content: end;
  padding: .5rem;
}

.button-clear-favorites {
  margin-left: .5rem;
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}

.dog-card-button {
  position: relative;
  border: none;
  padding: 0;
  border: 1px solid var(--color-application-dark);
  border-radius: var(--card-border-radius-outer);
  margin: 1rem;

  &:hover {
    box-shadow: .25rem .25rem 1rem var(--color-gray);
  }

  &.selected {
    outline: 4px solid var(--color-green-medium);
    border-color: var(--color-green-light);
  }
}

.checkmark-container {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  background-color: var(--color-green-dark);

  div {
    position: relative;
    width: .375rem;
    background-color: var(--color-application-light);
    height: 1.25rem;
    transform: rotate(45deg);

    &:first-of-type {
      top: .12rem;
      right: .12rem;
      transform: rotate(-45deg);
      height: .75rem;
    }
  }
}

.dog-card {
  display: flex;
  flex-direction: column;
  width: var(--card-dimension);
  height: 100%;
  border-radius: var(--card-border-radius-outer);
  background-color: var(--color-blue-pale);


  &.selected {
    color: var(--color-application-light);
    background-color: var(--color-green-dark);

    img {
      border-bottom-color: var(--color-green-light);
    }
  }
}

.dog-image {
  height: var(--card-dimension);
  min-height: var(--card-dimension);
  object-fit: cover;
  border-top-left-radius: var(--card-border-radius-inner);
  border-top-right-radius: var(--card-border-radius-inner);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-application-dark);
}

.dog-card-info {
  padding: .5rem 1rem .75rem;
  text-align: left;
  font-size: 1rem;
}

.dog-card-info-line {
  margin-top: .375rem;
}

.dog-card-info-name {
  margin-bottom: .25rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.matched-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matched-dog-message,
.matched-dog-info {
  font-size: 1.5rem;
}

.matched-dog-image {
  outline: 5px solid var(--color-blue-green);
  border: 5px solid var(--color-green-light);
  border-radius: var(--card-border-radius-outer);
  margin: 1rem;
}
