
.dog-match {
  width: 100%;
}

.new-search-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.dog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matched-dog-image {
  outline: 5px solid var(--color-blue-green);
  border: 5px solid var(--color-green-light);
  border-radius: var(--card-border-radius-outer);
  margin: 1rem;
}
