.dogs-select {
  width: 100%;
}

.dogs-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.instructions {
  color: var(--color-gold-dark);
}

.user-actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 660px;
  gap: 0 1rem;
}

.user-action {
  display: flex;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
}

.favorites-count {
  padding-left: .25rem;
  color: var(--color-green-dark);
  font-weight: 700;
}

.sort-arrow {
  font-weight: 500;
  color: var(--color-blue-dark);

  &.descending {
    color: var(--color-violet-dark)
  }
}

.floating-action-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: var(--dimension-floating-action-button);
  height: var(--dimension-floating-action-button);
  inset-block: auto var(--dimension-viewport-margin);
  inset-inline: auto var(--dimension-viewport-margin);
  border: 5px solid transparent;
  border-radius: 50%;
  font-family: 'Fredoka', serif;
  font-size: 1.75rem;
  font-weight: 600;
  background-color: var(--color-gray);
  color: var(--color-gray-medium);

  &:not(.disabled) {
    outline: 5px solid var(--color-green-light);
    border-color: var(--color-blue-light);
    background-color: var(--color-blue-dark);
    color: var(--color-application-light);
  }

  &:not(.disabled):hover {
    background-color: var(--color-application-light);
    color: var(--color-blue-dark);
  }
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
}
