header {
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem;
  background-color: var(--color-violet);
}

.header-title {
  font-size: 1.75rem;
  font-family: 'Fredoka', serif;
  font-weight: 600;
  color: var(--color-application-light);
}
