.login {
  padding: 1rem;
  background-color: var(--color-blue-green);
}

.login-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  :last-child {
    margin-top: 1rem;
  }
}
