.search {
  background-color: var(--color-yellow-medium);
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  width: var(--card-dimension);
  border: 1px solid var(--color-application-dark);
  border-radius: var(--card-border-radius-outer);
  margin: 1rem;
  background-color: var(--color-blue-lightest);

  &:hover {
    box-shadow: .25rem .25rem 1rem var(--color-gray);
  }

  img {
    height: var(--card-dimension);
    min-height: var(--card-dimension);
    object-fit: cover;
    border-top-left-radius: var(--card-border-radius-inner);
    border-top-right-radius: var(--card-border-radius-inner);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-application-dark);
  }
}

.dog-card-info {
  padding: .5rem 1rem .75rem;
  font-size: .75rem;
}

.dog-card-info-name {
  text-align: center;
  font-size: .875rem;
  font-weight: 700;
}