@import url('./_checkmark');
@import url('./_dog-card');
@import url('./_dogs-search');
@import url('./_dogs-select');
@import url('./_footer');
@import url('./_header');
@import url('./_loader');
@import url('./_login');
@import url('./_pagination');
@import url('./_matched-dog');
@import url('./_select-age-container');
@import url('./_variables');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Open Sans', serif;
  background-color: var(--color-blue-dark);
  color: var(--color-application-dark);
}

body {
  background-color: var(--color-yellow-medium);
}

main {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

h1 {
  margin: 1.5rem 0 1rem;
  font-family: 'Fredoka', serif;
  color: var(--color-blue-dark);
}

h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.25rem;
}

.button-primary,
.header-link-container {
  padding: .375rem .75rem;
  border: none;
  border-radius: var(--border-radius-medium);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.button-secondary {
  height: fit-content;
  padding: .25rem .625rem;
  border: 2px solid var(--color-application-dark);
  border-radius: var(--border-radius-button-pill);
  font-size: .875rem;
  font-weight: 600;
  background-color: var(--color-application-dark);
  color: var(--color-application-light);

  &:hover {
    background-color: var(--color-application-light);
    color: var(--color-application-dark);
  }
}

.button-authentication,
.header-link-container {
  font-weight: 600;
  background-color: var(--color-violet-medium);
  color: var(--color-application-light);

  &:hover {
    background-color: var(--color-violet-light);
  }
}

.search-select,
.search-input {
  padding: .375rem;
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--color-blue-dark);
  font-size: 1rem;
  color: var(--color-application-dark);
}

.validation-message {
  color: var(--color-red-dark);
}
