@import url('./_header');
@import url('./_login');
@import url('./_search');
@import url('./_select');
@import url('./_variables');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans', serif;
  background-color: var(--color-yellow-medium);
  color: var(--color-application-dark);
}

main {
  display: flex;
  justify-content: center;
}

.button-primary {
  padding: .5rem 1rem;
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.button-authentication {
  background-color: var(--color-violet-medium);
  color: var(--color-application-light);

  &:hover {
    background-color: var(--color-violet-light);
  }
}
