@import url('./_header');
@import url('./_login');
@import url('./_search');
@import url('./_select');
@import url('./_variables');

body {
  margin: 0;
  font-family: 'Open Sans', serif;
  color: var(--color-application-dark);
  background-color: var(--color-yellow-medium);
}
